@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Lato, Helvetica, "sans-serif";
  font-size: 18px;
}

/* Typography */

h1,
span {
  font-size: 150px;
  font-family: Merriweather, "Times New Roman", serif;
  color: #e3e3e6;
}

span {
  color: #8a8069;
  display: block;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 60px;
  color: #1a1a1a;
}

h4 {
  font-size: 45px;
}

p {
  font-size: 15px;
  font-weight: 400;
}

.logo {
  font-size: 20px;
  color: #d9d9d9;
}

.nav__list a {
  list-style-type: none;
  text-decoration: none;
  color: #d9d9d9;
}

button {
  display: inline-block;
  background-color: #c0983b;
  color: #e7e7e7;
  padding: 5px 10px;
  border-radius: 5px;
  width: max-content;
  border-color: #8a8069;
}

/* Header Section */

header {
  padding: 30px 30px 0 30px;
  background-color: #191919;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.nav__list {
  display: flex;
  gap: 50px;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 40px 15px 0;
}

.hero__subtext {
  max-width: 400px;
  padding-bottom: 50px;
  color: #d9d9d9;
}

img {
  display: block;
  margin-bottom: -3%;
}

.brands-section {
  margin: 7% 0;
}

.brands-container {
  display: flex;
  justify-content: space-around;
  background: #dcdcde;
  padding: 25px 0;
}

.brands__logo img {
  display: block;
  max-block-size: 80px;
}

.info-section {
  margin-bottom: 10%;
}

.info__header {
  padding-bottom: 80px;
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card__body {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  background-color: white;
  padding: 15px;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  gap: 20px;
}

.card__image > img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.card__footer a {
  color: #8a8069;
  font-size: 15px;
}

.test-section {
  background: #8a8069;
  display: flex;
}

.test__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 50%;
}

.test__body {
  display: flex;
  padding: 25px;
  gap: 50px;
}

.test__body > img {
  border-radius: 50%;
  border: 2px solid #f2ca99;
  max-block-size: 80px;
}

.test__text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 300px;

  /* border: 2px solid; */
}

.test__text-container p {
  margin-bottom: 8px;
}

.test__text-container .subtitle {
  font-weight: 700;
  color: #c7c7c7;
}

.test__text {
  font-size: 20px;
}

.test-bg__img {
  max-width: 50%;
  max-height: fit-content;
  overflow: clip;
}

.cta-section {
  padding: 120px;
  background-color: white;
}
.cta-container {
  background: linear-gradient(#8c8c8c, #262626);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #c7c7c7;

  padding: 40px;
}
.cta-text {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
}

.cta__title {
  color: #d9d9d9;
}

.cta-quoter {
  align-self: flex-end;
  color: #bbaa82;
  font-size: 25px;
}

.cta-subtitle {
  color: #1a1a1a;
  margin-left: 29px;
}

.cta-contact_text {
  font-size: 30px;
  color: #1a1a1a;
  margin-left: 29px;
}
.cta-button {
  background-color: transparent;
  color: #dbb866;
  font-size: 25px;
  border-width: 5px;
  border-radius: 20px;
}

.footer_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  background-color: #0d0d0d;
  color: #ca9b2c;
  padding: 50px;
  align-content: center;
  justify-content: center;
}
